{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--
1.Vision and mission
    This website is made for purpose to engage better with our customer in this platform. We have opened this business for many year and come accross
    many platform in digital marketing area. This time we decided to take a step ahead by raising ourselves to be a national company which can fulfill the
    demand of our customer in varieties of way.
2.

-->

<style>
    #container .clear{
        text-align:center;
    }
    #container .clear a{
        padding:40px;
    }
    hr{
          border:0.5px solid #848484;
    }
    #team ul{
        display:flex;
        justify-content:center;
        align-item:center;
    }

</style>
<link rel="stylesheet" type="text/css" href="{% static 'styles/about-us.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/framework.css' %}">
<script src="{% static  'scripts/jquery-1.9.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/jquery-ui-1.10.0.tabs.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">$(document).ready(function(){$("#tabcontainer").tabs({event:"click"})})</script>


<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <div id="about-us" class="clear">
      <!-- ####################################################################################################### -->
      <section id="tabcontainer" class="clear">
        <ul id="tabnav">
          <li><a href="#tabs-1">Company Details</a></li>
          <li><a href="#tabs-2">Our Mission Statement</a></li>
          <li><a href="#tabs-3">Tab Link 3</a></li>
        </ul>
        <!-- Tab Content -->
        <div id="tabs-1" class="tabcontainer clear"
             style="
             display:flex;
             justify-content:center;
             align-item:center;
             ">
          <div class="one_half first"><img class="imgholder" src="{% static 'images/1.jpg' %}" alt=""></div>
          <div class="one_half" style="padding-left:30px;" >
            <h2>Vivamuslibero Auguer</h2>
            <p>In sed neque id libero pretium luctus. Vivamus faucibus. Ut vitae elit. In hac habitasse platea dictumst. Proin et nisl ac orci tempus luctus. Aenean lacinia justo at nisi. Vestibulum sed eros sit amet nisl lobortis commodo. Suspendisse nulla. Vivamus ac lorem. Aliquam pulvinar purus at felis. Quisque convallis nulla id ipsum. Praesent vitae urna. Fusce blandit nunc nec mi. Praesent vestibulum hendrerit ante.</p>
            <p>Vivamus accumsan. Donec molestie pede vel urna. Curabitur eget sem ornare felis gravida vestibulum.Sed pulvinar, tellus in venenatis vehicula, lorem magna dignissim erat, in accumsan ante lorem sit amet lorem.</p>
          </div>
        </div>
          <hr >
        <!-- ## TAB 2 ## -->

        <!-- ## TAB 3 ## -->

        <!-- / Tab Content -->
      </section>
      <!-- ####################################################################################################### -->

        <section id="team">
        <h2>Team_member</h2>
            <br>
            <br>
        <ul class="clear">
          <li class="one_third first">
            <figure><img src="{% static 'images/lay.jpg' %}" alt=""  style="width:200px;height:200px;">
              <figcaption>
                <div class="fl_left">
                  <p class="team_name">Nick Lay</p>
                  <p class="team_title">CEO</p>
                  <p class="team_description">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis.</p>
                </div>
                <ul>
                  <li><a href="#"><img src="images/demo/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="images/demo/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="images/demo/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="images/demo/social-icon.png" alt=""></a></li>
                </ul>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><img src="{% static 'images/elwin.jpg' %}" alt=""  style="width:200px;height:200px;">
              <figcaption>
                <div class="fl_left">
                  <p class="team_name">Elwin Lay</p>
                  <p class="team_title">Executive</p>
                  <p class="team_description">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis.</p>
                </div>
                <ul>
                  <li><a href="#"><img src="images/demo/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="images/demo/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="images/demo/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="images/demo/social-icon.png" alt=""></a></li>
                </ul>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><img src="{% static 'images/gigi.jpg' %}" alt="" style="width:200px;height:200px;">
              <figcaption>
                <div class="fl_left">
                  <p class="team_name">Gigi Piyada</p>
                  <p class="team_title">Executive</p>
                  <p class="team_description">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis.</p>
                </div>
                <ul>
                  <li><a href="#"><img src="images/demo/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="images/demo/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="images/demo/social-icon.png" alt=""></a></li>
                  <li><a href="#"><img src="images/demo/social-icon.png" alt=""></a></li>
                </ul>
              </figcaption>
            </figure>
          </li>
        </ul>
      </section>

        <!---->
    </div>
  </div>
</div>
<br>
<hr>



{% endblock %}